body {
    background-color: hsl(211, 45%, 98%);
}

header {
    height: 100dvh;
    /* background: linear-gradient(
        to bottom,
        hsl(211, 45%, 98%) 0%,
        hsl(211, 45%, 98%) 70%,
        #4b91e2 50%,
        #4b91e2 100%
    ); */
    background-image: url('assets/img/header-background.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: #4b91e2;
    bottom: 0;
    left: 0;
}

header h1 span {
    color: #4b91e2;
    font-family: "Pacifico", cursive;
    font-style: normal;
}

header nav {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2) !important;
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

.navbar-brand {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #4b91e2;
    font-size: xx-large;
}

.navbar button {
    background-color: #50e2c3;
    --bs-btn-hover-bg: #50e2c3;
}

.brand-text {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #4b91e2;
}

#editor {
    width: 800px;
    height: 600px;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

.monaco-editor {
    user-select: none;
}

#calendar {
    z-index: 1;
    background-color: white;
    height: 100%;
    width: 600px;
}

#calendar .fc-header-toolbar.fc-toolbar {
    margin: 0;
}

.fc-header-toolbar.fc-toolbar * {
    display: none;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: transparent !important;
    font-weight: normal !important;
}

.fc-scrollgrid,
.fc-scroller {
    overflow: hidden !important;
}

.fc .fc-daygrid-day-number {
    background-color: #4b91e2;
    border-radius: 5px;
    position: absolute;
    top: 4px;
    right: 4px;
    color: white;
    text-decoration: none;
    width: 25px;
    text-align: center;
}

.fc-col-header-cell-cushion {
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #4b91e2;
}

.fc-daygrid-day-events {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fc-event {
    /* height: 20px; */
    font-size: small;
}

.fc-event-title {
    color: black;
}

.fc-daygrid-day-events {
    position: absolute !important;
    bottom: 0 !important;
}

#documentation-card {
    background: #4b91e2;
    border-radius: 25px;
}

.feature-card {
    background: #4b91e2;
    color: white;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
}

.feature-card svg {
    border: 3px dashed white;
    border-radius: 20px;
    padding: 16px;
}

.hvr-bounce-to-right:before {
    background: #50e2c3;
    border-radius: 24px;
}

.hvr-ripple-out::before {
    border-radius: 24px;
    border: #50e2c3 6px solid;
}

.hvr-fade {
    border-radius: 12px;
}

.hvr-fade:active, 
.hvr-fade:focus,
.hvr-fade:hover {
    background-color: white;
    color: #50e2c3 !important;
}