section#overview {
    padding-top: 150px;
    background-image: url('/assets/img/beauty-salon-header-background.svg');
    background-position: top;
}

#intro-beauty-salon {
    height: 45dvh;
    background-color: #4b91e2;
    padding-top: calc(74px);
}

#intro-beauty-salon svg {
    border: 3px dashed white;
    border-radius: 20px;
    padding: 16px;
}

.feature-card {
    background-color: #4b91e2;
    --hvr-ripple-out-border-color: #4b91e2;
}