section#overview {
    background-image: url('/assets/img/healthcare-header-background.svg');
    background-position: top;
}

#intro-healthcare {
    height: 22dvh;
    background-color: #50e2c3;
    margin-top: 74px;
}

#intro-healthcare svg {
    border: 3px dashed white;
    border-radius: 20px;
    padding: 16px;
}