section#overview {
    padding-top: 150px;
    background-image: url('/assets/img/healthcare-header-background.svg');
    background-position: top;
    background-repeat: repeat-x;
    transform: translateY(-1px);
}

#intro-healthcare {
    height: 50dvh;
    background-color: #50e2c3;
    padding-top: calc(74px);
}

#intro-healthcare svg {
    border: 3px dashed white;
    border-radius: 20px;
    padding: 16px;
}

.feature-card {
    background-color: #50e2c3;
    --hvr-ripple-out-border-color: #50e2c3;
}