body.index-page header {
    min-height: 100dvh;
}

body.index-page header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: #4b91e2;
    bottom: 0;
    left: 0;
}

body.index-page header h1 span {
    color: #4b91e2;
    font-family: "Pacifico", cursive;
    font-style: normal;
}

#editor {
    width: 800px;
    height: 600px;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

.monaco-editor {
    user-select: none;
}

#calendar {
    z-index: 1;
    background-color: white;
    height: 100%;
    width: 600px;
}

#calendar .fc-header-toolbar.fc-toolbar {
    margin: 0;
}

.fc-header-toolbar.fc-toolbar * {
    display: none;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: transparent !important;
    font-weight: normal !important;
}

.fc-scrollgrid,
.fc-scroller {
    overflow: hidden !important;
}

.fc .fc-daygrid-day-number {
    background-color: #4b91e2;
    border-radius: 5px;
    position: absolute;
    top: 4px;
    right: 4px;
    color: white;
    text-decoration: none;
    width: 25px;
    text-align: center;
}

.fc-col-header-cell-cushion {
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #4b91e2;
}

.fc-daygrid-day-events {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fc-event {
    /* height: 20px; */
    font-size: small;
}

.fc-event-title {
    color: black;
}

.fc-daygrid-day-events {
    position: absolute !important;
    bottom: 0 !important;
}

section#overview {
    background-image: url('/assets/img/wavy-steps.svg');
    background-repeat: repeat-x;
    background-position-y: -26px;
    position: relative;
}

section#use-cases {
    min-height: 100dvh;
}

.sdk-list>* {
    width: 100px;
}

#healthcare-use-case {
    background-color: #50e2c3;
}

#education-use-case {
    background-color: #f5a524;
    --hvr-ripple-out-border-color: #f5a524;
}

#coworking-use-case {
    background-color: rebeccapurple;
    --hvr-ripple-out-border-color: rebeccapurple;
}

#ride-sharing-use-case {
    background-color: #cf021a;
    --hvr-ripple-out-border-color: #cf021a;
}

#beauty-saloon-use-case {
    --hvr-ripple-out-border-color: #4b91e2;
}

#pricing {
    background-color: #50e2c3;
}

.pricing-amount,
.pricing-cycle {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.pricing-amount.fade-out,
.pricing-cycle.fade-out {
    transform: scale(0.5);
    opacity: 0;
}

.pricing-amount.fade-in,
.pricing-cycle.fade-in {
    transform: scale(1);
    opacity: 1;
}

#use-cases button {
    background-color: #50e2c3;
    --bs-btn-hover-bg: #50e2c3;
}

#intro-code-example {
    height: calc(100dvh + 74px);
}

section {
    scroll-margin-top: 74px;
}

#free-plan-card .btn {
    --bs-btn-color: #50e2c3;
    --bs-btn-border-color: #50e2c3;
    --bs-btn-hover-bg: #50e2c3;
    --bs-btn-hover-border-color: #50e2c3;
}

#premium-plan-card .btn {
    --bs-btn-color: #cf021a;
    --bs-btn-bg: white;
    --bs-btn-border-color: #cf021a;
    --bs-btn-hover-bg: #cf021a;
    --bs-btn-hover-border-color: #cf021a;
}