.brand-cta {
    background-color: #50e2c3;
    border: none;
}

.brand-cta:hover {
    background-color: #3cbfa5;
}

#intro-ride-sharing {
    background-image: url('/path/to/your/background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#cta {
    background-color: #50e2c3;
    color: white;
}

section#overview {
    padding-top: 150px;
    background-image: url('/assets/img/ride-sharing-header-background.svg');
    background-position: top;
    background-repeat: repeat-x;
}

#intro-ride-sharing {
    height: 45dvh;
    background-color: #cf021a;
    padding-top: calc(74px);
}

#intro-ride-sharing svg {
    border: 3px dashed white;
    border-radius: 20px;
    padding: 16px;
}

.feature-card {
    background-color: #cf021a;
    --hvr-ripple-out-border-color: #cf021a;
}